/* Coolors Exported Palette - coolors.co/3d586b-b1c4d1-9ebcd1-5c788c-133147 */

/* HSL */
$color1: hsla(205%, 27%, 33%, 1);
$color2: hsla(204%, 26%, 76%, 1);
$color3: hsla(205%, 36%, 72%, 1);
$color4: hsla(205%, 21%, 45%, 1);
$color5: hsla(205%, 58%, 18%, 1);

/* RGB */
$color1: rgba(61, 88, 107, 1);
$color2: rgba(177, 196, 209, 1);
$color3: rgba(158, 188, 209, 1);
$color4: rgba(92, 120, 140, 1);
$color5: rgba(19, 49, 71, 1);