/* Coolors Exported Palette - coolors.co/ffffff-1b2f33-234645-1b2f33-6a8e7f */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(190%, 31%, 15%, 1);
$color3: hsla(178%, 33%, 21%, 1);
$color4: hsla(190%, 31%, 15%, 1);
$color5: hsla(155%, 15%, 49%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(27, 47, 51, 1);
$color3: rgba(35, 70, 69, 1);
$color4: rgba(27, 47, 51, 1);
$color5: rgba(106, 142, 127, 1);