/* Coolors Exported Palette - coolors.co/89999c-c2c7c9-eaeaea-fe5f55-294d4f */

/* HSL */
$color1: hsla(189%, 9%, 57%, 1);
$color2: hsla(197%, 6%, 77%, 1);
$color3: hsla(0%, 0%, 92%, 1);
$color4: hsla(4%, 99%, 66%, 1);
$color5: hsla(183%, 32%, 24%, 1);

/* RGB */
$color1: rgba(137, 153, 156, 1);
$color2: rgba(194, 199, 201, 1);
$color3: rgba(234, 234, 234, 1);
$color4: rgba(254, 95, 85, 1);
$color5: rgba(41, 77, 79, 1);