/* Coolors Exported Palette - coolors.co/333333-81968f-c5e0d8-dbf9f4-c8d5b9 */

/* HSL */
$color1: hsla(0%, 0%, 20%, 1);
$color2: hsla(160%, 9%, 55%, 1);
$color3: hsla(162%, 30%, 83%, 1);
$color4: hsla(170%, 71%, 92%, 1);
$color5: hsla(88%, 25%, 78%, 1);

/* RGB */
$color1: rgba(51, 51, 51, 1);
$color2: rgba(129, 150, 143, 1);
$color3: rgba(197, 224, 216, 1);
$color4: rgba(219, 249, 244, 1);
$color5: rgba(200, 213, 185, 1);