/* Coolors Exported Palette - coolors.co/272d2d-7293a0-fafafa-e2efde-afd0bf */

/* HSL */
$color1: hsla(180%, 7%, 16%, 1);
$color2: hsla(197%, 19%, 54%, 1);
$color3: hsla(0%, 0%, 98%, 1);
$color4: hsla(106%, 35%, 90%, 1);
$color5: hsla(149%, 26%, 75%, 1);

/* RGB */
$color1: rgba(39, 45, 45, 1);
$color2: rgba(114, 147, 160, 1);
$color3: rgba(250, 250, 250, 1);
$color4: rgba(226, 239, 222, 1);
$color5: rgba(175, 208, 191, 1);