/* Coolors Exported Palette - coolors.co/0f7173-e0434d-f87060-d6b5b1-ffffff */

/* HSL */
$color1: hsla(181%, 77%, 25%, 1);
$color2: hsla(356%, 72%, 57%, 1);
$color3: hsla(6%, 92%, 67%, 1);
$color4: hsla(6%, 31%, 77%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(15, 113, 115, 1);
$color2: rgba(224, 67, 77, 1);
$color3: rgba(248, 112, 96, 1);
$color4: rgba(214, 181, 177, 1);
$color5: rgba(255, 255, 255, 1);